{% extends "base.html" %}
{% block content %}

<div class="center_screen">
    <p class="wujud status" style="text-align: center" id="test">Hello, this is {{ name }}.<br>
      "{{ content }}"</p>
</div>
{% endblock %}
