{% extends "base.html" %}
{% block content %}

<div class="center_screen">
    <p  style="text-align: center" id="test"><h1>Hello my name is {{ name }}</h1>
    <article>I am {{ age }} years old</article></p>
</div>
{% endblock %}
