<nav class="navbar navbar-expand-lg navbar-dark bg-dark container-fluid sticky-top" style="margin-bottom:30px">
  <div class="container">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ml-auto">
<li class="nav-item">
  <a class="nav-link" href="/lab-7/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'lab-7:friend-list' %}">Daftar Teman</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'index' %}">Back</a>
</li>
</ul>
</div>
</div>
</nav>
