{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row" >
                <div class="col-md-8 col-lg-12">
                    <h2> Friend Fasilkom</h2>
                    <div id="friend-lists" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
    var hapus = function(npm){
      $.ajax({
        method: "DELETE",
        url: "/lab-7/delete-friend/" + npm + "/",
        data: {npm:npm},
        success: function(data){
          $('#'+npm).remove()
        },
        error: function(error){
          alert('error')
        },
      });
    };

    var tes = function(data){
      for (i = 0; i < data.length; i++) {
        npm = data[i]['npm']
        html = '<p id="'+ npm +'" class="list-group-item clearfix">' +
            data[i]['friend_name']+ ' (' + data[i]['npm'] + ')' + '<a class="float-right"><span onClick="hapus(' + "&#39;" + npm + "&#39;" + ')" class="btn btn-dark float-right">Hapus sebagai teman</span></a></p>';
        $("#friend-lists").append(html);
      };
    };
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                dataType: "json",
                success: function (result) {
                  console.log(result);
                  tes(result['results']);
                  },
                error: function(error){
                    alert(error.responseText)
                },
            });
        });
    </script>
{% endblock %}
