<div class="dropdown">
  <span id="dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My Apps
  <span class="caret"></span></span>
  <ul class="dropdown-menu">
    <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
    <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
    <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
    <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
    <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
    <li><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
    <li><a href="{% url 'lab-7:index' %}">Lab 7</a></li>
  </ul>
  <span id="logout-button" class="pull-right">
  </span>
</div>
